@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --azul: #4e5bee;
  --vermelho: #ff5757;
  --cinza: #f8f8f8;
}

body,
button,
div,
form,
input,
img,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-color: var(--azul);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
  margin-bottom: 3rem;
}

input {
  padding: 1rem;
  border-radius: 30px;
  border: 2px solid white;
  margin-bottom: 10px;
  background-color: var(--azul);
  color: white;
  width: 15rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  padding: 1rem;
  border-radius: 30px;
  border: 2px solid white;
  margin-bottom: 10px;
  background-color: white;
  color: var(--azul);
  width: 15rem;
  cursor: pointer;
}
div,
a {
  color: white;
  text-align: center;
  text-decoration: none;
}
.content {
}

.img {
  background-image: url("../assets/undraw_interview_rmcf.svg");
  width: 70%;
  background-color: white;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 700px) {
  .img {
    display: none;
  }
  body {
    height: 100vh;
  }
}
